

html, body {
    height: 100%;
    
}
body {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
main {
    flex: 1;
    margin-bottom: 2rem;
}

header, footer {
    width: 100%;
}
.img-fluid{
    margin-top:0.5cm;
}

.card{
    width:30% !important;
    margin-left: 1%;
} 